# Virtuelle Python-Umgebungen
.venv/
venv/

# Python-Cache
__pycache__/
*.pyc
*.pyo

# PyCharm
.idea/
# master datw
*.json
*.iml
*.xml
# Ausgabedateien
*.xlsx
*.gpkg
*.html
*.zip

# Betriebssystem-Dateien
.DS_Store
Thumbs.db